<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <title>Lista de filmes por gênero</title>
</head>
<body>

<div layout:fragment="conteudo">
    <h1 th:text="${genero}"></h1>

    <table>
        <thead>
        <tr>
            <th>GENEROS</th>
            <th>QUANTIDADE DE FILMES</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="consulta : ${lista}">
            <td th:text="${consulta.nomeGenero}"></td>
            <td th:text="${consulta.quantidadeFilmes}"></td>
        </tr>
        </tbody>
    </table>
    <a href="/filmes/formulario">Gerar PDF</a>
</div>
</body>
</html>